body {
  padding-top: 20px;
  padding-bottom: 0px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

.well {
  background-color: rgb(255, 255, 255);
}

.well h4{
  text-transform: none;
}

.soft {
  margin: 50px 0 0 0;
  background-image: url(../img/hbg.png);
  border-top: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  padding-bottom: 40px;
  padding-top: 40px;
}

.hero-unit .lead {
  text-shadow: 1px 1px 1px white;
  font-size: 18px;
  margin-top: 10px;
}
.hero-unit .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin-top: 40px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px white;      
}

.footer {
  background: rgb(51, 51, 51);
  color: #fff;
  margin-bottom: 0px;
  padding: 20px;
}
