<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/content/favicon.png" />
    <link href="/content/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main">
        <div id="headerWrapper">
            <div id="header">
                <div id="mainTitle">
                    <h2>
                        <img src="/content/icon-trans-inv.png" alt="icon" />Byte Flurry, LLC</h2>
                </div>
                <ul id="nav">
                    <li><a href="/index.html">home</a></li>
                    <li><a href="/services.html">services</a></li>
                    <li><a href="/about.html">about</a></li>
                    <li><a href="/contact.html">contact</a></li>
                </ul>
            </div>
        </div>

        <div id="contentWrapper">
            {{ content }}
        </div>

        <div id="footerWrapper">
            <p id="copy">
                &copy; Copyright 2011 Byte Flurry, LLC</p>
        </div>
    </div>
</body>
</html>
