<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/content/favicon.png" />
    <link href="/content/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main">
        <div id="headerWrapper">
            <div id="header">
                <div id="headerTitle">
                    <h2>
                        <img src="/content/icon-trans.png" />
                        Byte Flurry, LLC</h2>
                </div>
                <ul id="nav">
                    <li><a href="/">home</a></li>
                    <li><a href="/services.html">services</a></li>
                    <li><a href="/about.html">about</a></li>
                    <li><a href="/contact.html">contact</a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="contentWrapper">
            {{ content }}
        </div>
    </div>
</body>
</html>
