body {
    background: #fff;
    color: #333;
    font-family: "Lucida Sans Unicode" , "Lucida Sans" , "Lucida Grande" , Arial, Helvetica, Sans-Serif;
    font-family: Arial;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3{

}

#home h1 {
    font-size: 80px;
    margin-top: 100px;
}

p.tagLine {
    font-size: 30px;
}

.copy {
    margin-top: 100px;
    font-size: 10px;
    color: #999;
}

a:link, a:visited {
    color: #666;
    text-decoration: underline;
}

a:hover {
    color: #333;
    text-decoration: none;
}

#contentWrapper {
    margin: auto;
    width: 600px;
    text-align: left;
}

#navInner {
    float: right;
    margin-top: 35px;
}

h2 {
    float: left;
    margin-top: 20px;
}

h2 img{
    height: 30px;
}

.clear {
    clear: both;
}

#content p, #content li{
    font-family: Georgia, Serif;
    line-height: 22px;
}

.copy{ text-align: center; }